html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	text-decoration: none;
}






/* 自行設定區域 */
.wrap {
	width: 1000px;
	margin: auto;
}

.clearfix {
	clear: both;
}

a {
	text-decoration: none;
}

body {
	font-family: Arial;
}

/* End 自行設定區域 */





/*01 TOPBAR*/

.bar {
	height: 30px;
	background-color: #f6f6f6;
}

.bar ul {
	float: right;
}

.bar ul li {
	float: left;
	margin: 5px;
}

.bar li img {
	float: left;
	margin-right: 5px;
}

.facebook {
	border-right: 2px solid #cccccc;
	padding-right: 8px;
}

.facebook a {
	color: #7388b7;
}

.twitter a {
	color: #62c8f0;
}

/*End 01 TOPBAR*/





/*02 header*/

.logo h1 {
	float: left;
	padding: 10px;
}

.logo h1 a {
	background-image: url('../img/logo.png');
	width: 173px;
	height: 36px;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	display: block;
}

.topmenu ul {
	float: right;
	padding-top: 20px;
}

.topmenu ul li {
	float: left;
	padding-left: 30px;
}

.topmenu li a {
	color: #51CECA;
}

.topmenu li a:hover {
	border-bottom: 5px solid #51CECA;
	padding-bottom: 13px;
}

.banner {
	position: relative;
	height: 346px;
}
 
.banner .bannerfont {
	position: absolute;
	left: 10px;
	top: 135px;
	color: #fff;
	font-size: 36px;
}

.banner .bannerfont:before {
	content: '';
	position: absolute;
	top: -20px;
	left: -10px;
	width: 1002px;
	height: 120px;
	background-color: #9d9d9d;
	opacity: 0.1;
}

/*End 02 header*/





/*03 Product*/

.product ul {
	float: left;
	margin-top: 50px;
	margin-bottom: 60px;
}

.product ul li {
	float: left;
	width: 300px;
	box-shadow: 5px 5px 15px gray;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}

.product li img {
	padding: 30px;
}

.product h2 {
	font-weight: bold;
	font-family: Arial;
	padding-bottom: 5px;
}

.product p {
	text-align: left;
	font-family: Arial;
	line-height: 1.5;
	font-size: 17px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 6px;
}

.product .rwd img {
	margin-bottom: 55px;
}

.product .rwd p span {
	
}

.product .jquery img  {
	margin-bottom: 18px;
}

/*End 03 Product*/






/*04 Class*/

.price {
	margin: 0 0 100px 50px;
}

.price .prictitle {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 30px;
}

.price th, .price td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.price th {
	padding: 10px 120px 10px 10px;
	background: #D3D3D3;
	color: #000;
	text-align: left;
	font-weight: bold;
}

.price td {
	padding: 15px 100px 15px 15px;
	text-align: left;
}

.price .green {
	font-weight: bold;
	color: green;
}

/*End 04 Class*/





/*05 form*/

.csmessage {
	background-image: url('../img/bgcolor.png');
	height: 400px;
}

.csmessage h2 {
	text-align: center;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
	padding: 30px 0;
	line-height: 1.5;
}

.csmessage .message {
	width: 460px;
	margin: 0 20px;
	float: left;
	height: 220px;
	border-radius: 3px;
}

.csmessage .list .item1 {
	vertical-align: top;
}

.csmessage .list .item1 p {
	color: #fff;
	padding-bottom: 5px;
}

.csmessage .list .item1 input {
	width: 460px;
	padding-bottom: 8px;
	border-radius: 3px;
}

.csmessage .list .item2, .item3, .item4 {
	font-family: Arial;
	font-weight: bold;
	display: block;
	padding-top: 10px;
}

.csmessage .list .submit .send{
	background-color: #00cc99;
	border: none;
	border-radius: 5px;
	float: right;
	margin: 20px 25px 0 30px;
	padding: 10px 20px;
	color: #fff;
}

.csmessage .submit .send:hover {
	background-color: #00f;
}

/*End 05 form*/





/*06 footer*/

.footer {
	padding: 30px 20px;
	margin-bottom: 50px;
}

.ftlogo h1 {
	float: left;
	padding: 10px;
}

.ftlogo h1 a {
	background-image: url('../img/footerlogo.png');
	width: 171px;
	height: 36px;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	display: block;
}

.ftright {
	float: right;
}

.ftright li {
	padding-bottom: 10px;
}

.ftright li a {
	color: #e12d80;
}

.ftright li a:hover {
	color: #ccc;
}

/*End 06 footer*/