html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.wrap {
	width: 1000px;
	margin: 0 auto;
}

.bar {
	height: 30px;
	background-color: #f6f6f6;
}

.bar ul {
	float: right;
}

.bar ul li {
	float: left;
	margin: 5px;
}

.bar li a {
	text-decoration: none;
}

.bar li img {
	float: left;
	margin-right: 5px;
}

.facebook {
	border-right: 2px solid #cccccc;
	padding-right: 8px;
}

.facebook a {
	color: #7388b7;
}

.twitter a {
	color: #62c8f0;
}

.logo h1 {
	float: left;
	padding: 10px;
}

.logo h1 a {
	background-image: url('../img/logo.png');
	width: 173px;
	height: 36px;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	display: block;
}

.clearfix {
	clear: both;
}

.topmenu ul {
	float: right;
	padding-top: 20px;
}

.topmenu ul li {
	float: left;
	padding-left: 30px;
}

.topmenu li a {
	text-decoration: none;
	color: #51CECA;
}

.topmenu li a:hover {
	border-bottom: 5px solid #51CECA;
	padding-bottom: 13px;
}

.banner {
	position: relative;
	height: 346px;
}

.banner .bannerimg {
	position: absolute;
}

.banner .bannercolor {
	position: absolute;
	background: #d9d9d9;
	width: 1002px;
	height: 120px;
	top: 110px;
	opacity: 0.1;
}

.banner .bannerfont {
	position: absolute;
	left: 10px;
	top: 135px;
	color: #fff;
	font-size: 36px;
}

.product {
	
}

.product ul {
	float: left;
	margin-top: 50px;
	margin-bottom: 60px;
}

.product ul li {
	float: left;
	width: 300px;
	box-shadow: 5px 5px 15px gray;
	text-align: center;
	margin-left: 15px;
	margin-right: 15px;
}

.product li img {
	padding: 30px;
}

.product h2 {
	font-weight: bold;
	font-family: Arial;
	padding-bottom: 5px;
}

.product p {
	text-align: left;
	font-family: Arial;
	line-height: 1.5;
	font-size: 17px;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 6px;
}

.product .rwd img {
	margin-bottom: 55px;
}

.product .rwd p span {
	
}

.product .jquery img  {
	margin-bottom: 18px;
}

.price {
	margin-left: 50px;
	margin-bottom: 100px;
}

.price .font {
	text-align: center;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 30px;
}

.price th, .price td {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
}

.price th {
	padding: 10px;
	padding-right: 120px;
	background: #D3D3D3;
	color: #000;
	text-align: left;
}

.price td {
	padding: 15px;
	padding-right: 100px;
	text-align: left;
}

.price .green {
	font-weight: bold;
	color: green;
}

.csmessage {
	/*background-image: url('../img/bgcolor.png');*/

}

.csmessage h2 {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.csmessage .message {
	width: 500px;
	height: 250px;
}

.csmessage label {

}